{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroUserBundle::macros.html.twig' as U %}

{% oro_title_set({params : {"%entity.summary%": entity.summary|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {# Button for add context on the activity list item view page #}
        {{ UI.editButton({
            'path' : path('oroacademic_issue_update', { id: entity.id }),
            'entity_label': 'oroacademic.issue.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oroacademic_api_delete_issue', {'id': entity.id}),
            'dataRedirect': path('oroacademic_issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'entity_label': 'oroacademic.issue.entity_label'|trans
        }) }}
    {% endif %}
    {% if entity.type == 'Story' and resource_granted('oroacademic_issue_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oroacademic_subissue_create', {'id' : entity.id}),
                'entity_label': 'oroacademic.subissue.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oroacademic_issue_index'),
        'indexLabel': 'oroacademic.issue.entity_plural_label'|trans,
        'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set issueInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('oroacademic.issue.code.label'|trans, entity.code) }}
                {{ UI.renderProperty('oroacademic.issue.summary.label'|trans, entity.summary) }}
                {{ UI.renderProperty('oroacademic.issue.type.label'|trans, entity.type) }}
                {{ UI.renderHtmlProperty('oroacademic.issue.description.label'|trans, entity.description|nl2br) }}
                {{ UI.renderProperty('oro.ui.created_at'|trans, entity.createdAt|oro_format_datetime) }}
                {{ UI.renderProperty('oro.ui.updated_at'|trans, entity.updatedAt|oro_format_datetime) }}
                {{ UI.renderProperty('oroacademic.issue.priority.label'|trans, entity.priority) }}

                {%- set assigneeData -%}
                    {%- if entity.assignee -%}
                        {{ U.render_user_name(entity.assignee) }}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('oroacademic.issue.assignee.label'|trans, assigneeData) }}

                {%- set reporterData -%}
                    {%- if entity.reporter -%}
                        {{ U.render_user_name(entity.reporter) }}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('oroacademic.issue.reporter.label'|trans, reporterData) }}

                {% if entity.parent is not empty %}
                    <a href="{{ path('oroacademic_issue_view', {'id': entity.parent.id}) }}">{{ UI.renderProperty('oroacademic.subissue.parent_story'|trans, entity.parent.code) }}</a>
                {% endif %}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [issueInformation]}
            ]
        }
    ] %}

    {% if entity.relatedIssues is not null %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'oroacademic.issue.related.label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [
        dataGrid.renderGrid('rel-issues-grid', {'ids': entity.relatedIssues})
        ]
        }]
        }] ) %}
    {% endif %}

    {% if entity.collaborators is not null %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'oroacademic.issue.collaborators.label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [
        dataGrid.renderGrid('collaborators-grid', {'ids': entity.collaborators})
        ]
        }]
        }] ) %}
    {% endif %}

    {% if entity.type == 'Story' %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'oroacademic.subissue.entity_plural_label'|trans,
        'subblocks': [{
        'title': '',
        'useSpan': false,
        'data' : [
        dataGrid.renderGrid('sub-issues-grid', {'parent_id': entity.id})
        ]
        }]
        }] ) %}
    {% endif %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
